<div class="xsmall-gap"></div>
<form class="form-flat dark login-form" id="register-form">
	<label data-model="error-msg" style="display:none"></label>
	<input type="text" name="username-input" required autocomplete="off" placeholder="Pick a username">
	<input type="email" class="dark-input" name="email-input" required autocomplete="off" placeholder="Enter email">
	<input type="password" name="pw1-input" required autocomplete="off" placeholder="Password">
	<input type="password" name="pw2-input" required autocomplete="off" placeholder="Repeat password">
	
	<label>Upload a profile picture</label>
	<img class="logo-medium" data-model="profile-img" src="img/sap.jpg">
	<p><input type="file" id="profileImgId"></p>
	<button type="submit" class="btn">Register</button>
</form>