<section class="modal-content row" id="loginModal">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 up-meta focus-content">
        <header>
            <h3>Login</h3>
        </header>
        <button class="btn btn-info" id="signupBtn">Sign-up</button>

        <section class="modal-body">
            <section id="login">
                <form class="form-flat" id="loginForm">
                    <img src="img/icons/shreddr-logo.jpg" class="logo-medium">
                    <input type="text" class="form-control" id="emailInput" placeholder="Enter Username">
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
            </section>
            <section id="register"> </section>
            <section id="social-login">
                <p> Sign in with
                    <a href="#" id="faceLoginBtn"><i class="icon-facebook"></i></a>
                    <a href="/auth/twitter"><i class="icon-twitter"></i></a>
                    <a href="/auth/google_oauth2"><i class="icon-google-plus"></i></a>
                </p>
            </section>
        </section>
    </div>
</section>

