<div class="short with-pad">
    <header class="bordered-header">
        <h4>Send {{username}} a Message</header>
    </header>
    <section data-region="modal-content">
        <form class="form-flat">
            <textarea></textarea>
            <button class="btn">Send</button>
            <a href="#" data-event="cancel-btn">Cancel</a>
        </form>
    </section>
</div>