<div class="modal fade" id="registerSuccessModal" tabindex="-1" role="dialog" aria-labelledby="registersucessLabel" aria-hidden="true">
  <div class="modal-dialog">
    <section class="modal-content">
        <div class="message">
            <img src="/assets/icons/shreddr-logo.jpg" class="logo-medium">
            <label class="lead">Congratz {{username}}!</label>
            <label>You are now signed up to Shredr</label>
            <button class="btn btn-success">I'm Ready</button>
        </div>
    </section><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->