<header><h3>{{username}}'s Shredr DNA</h3></header>
<div class="xsmall-gap"></div>
<p>What kind of music do you play</p>
<p>When did you start playing guitar</p>
<p>What guitars do you own</p>
<p>Where do you live</p>

