<section class="modal-content row">
	<div class="col-lg-6 up-meta focus-content">
		<header class="bordered-header">
			<h4>{{username}}'s Shredr Profile</h4>
		</header>

		<form class="form-flat dark text-left">

			<label for="guitar-start"><small>When did you start playing guitar</small></label>
			<input type="text" id="guitar-start" type="text" placeholder="e.g 1996">

			<label for="guitar-tags"><small>What guitars do you own</small></label>
			
				<div class="tags-area">
					<div class="style-tags space" data-region="guitar-tags">

					</div>
					<input type="text" placeholder="Start typing" id="guitar-tags">
				</div>

			<label for="city"><small>Where do you live</small></label>
			<input type="text" id="city" type="text" placeholder="e.g Oslo">

			<label for="birth"><small>When where you born</small></label>
			<input id="birth" type="date">

			<button data-event="done-btn" class="btn">Done</button>
			<a href="#" data-event="cancel-dna">Cancel</a>
		</form>
	</div>

	<div class="col-lg-6 up-video">
		<form class="form-flat">

			<header><p>What kind of music do you play</p></header>

			<ul class="img-list" data-event="dna-click">
				<li class="img-wrapper"><img class="dna-img" src="img/dna/classical.jpg"><span>Classical</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/electro.jpeg"><span>Electronic</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/folk.jpg"><span>Folk</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/religious.jpg"><span>Religious</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/soundtrack.jpg"><span>Stage &amp Screen</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/blues.jpg"><span>Blues</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/country.jpg"><span>Country</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/hiphop.jpg"><span>Hip Hop</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/jazz.jpg"><span>Jazz</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/latin.jpg"><span>Latin</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/pop.jpg"><span>Pop</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/rnb.jpg"><span>R &amp B</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/hipster.jpeg"><span>Indie</span></li>
				<li class="img-wrapper" ><img class="dna-img" src="img/dna/rock.jpg"><span>Rock</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/metal.jpg"><span>Metal</span></li>
				<li class="img-wrapper"><img class="dna-img" src="img/dna/instrumental.jpg"><span>Instrumental</span></li>
			</ul>
		</form>
	</div>

</section>


