<div class="modal-flat short">
	<section class="modal-content with-pad">
		<section data-region="sucess-region">
			<header><h3>Thank you, {{username}}!</h3></header>
			<div class="xsmall-gap"></div>
			<p class="lead small left">You will now be sent to the main area of Shredr.com, the Stage.</p>
			<div class="xsmall-gap"></div>
			<button class="btn" data-event="gotostage-btn">Ok</button>
		</section>
	</section>
</div>