	<section class="modal-content with-pad">
		<section data-region="sucess-region">
			<header><h3>Welcome, {{username}}!</h3></header>
			<div class="xsmall-gap"></div>
			<p class="lead small left">You are now a member of Shredr. Please, help us make this the best guitar-community by filling out your <a href="" data-event="ok-link">Shredr DNA</a></p>
			<div class="xsmall-gap"></div>
			<button class="btn" data-event="ok-btn">Totally</button>
			<a href="#" data-event="no-link">Not now</a>
		</section>
	</section>