<nav>
	<div class="nav-inner">
		<a href="#theStage"><img class="logo-small" src="img/icons/logo_sml_white.png"></a>

		<div class="nav-tabs">
			<ul>
				<li><a href="#/blog">BLOG</a></li>
				<li><a href="#/about">ABOUT US</a></li>
				<li><a href="#/contact">CONTACT</a></li>
				<li><a href="#/tc">T&C</a></li>
				<li><a href="#/support">SUPPORT</a></li>
				<li><a href="#/team">TEAM</a></li>
				<li><a href="/">HOME</a></li>
			</ul>
		</div>

		<div class="nav-categories" data-region="categories">
		</div>


	</div>

</nav>
