<nav class="navbar navbar-default navbar-inverse" role="navigation">

	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/#theStage">Shredr</a>
	</div>

	<ul class="nav navbar-nav">
		<li><a href="#">Blog</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">T &amp; C</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">Team</a></li>
	</ul>

	{{#if loggedIn}}
		<ul class="nav navbar-nav navbar-right">
			<!--<li><a href="#" id="profileImg"><img src="{{user.image}}"/></a></li>-->
			<li><a href="#" id="profileImg"><img src="/assets/shredder.jpg"/></a></li>	
		</ul>		
	{{/if}}

	<ul class="nav navbar-nav navbar-right">
		<li><a href="#"><i class="icon-twitter"></i></a></li>
    	<li><a href="#"><i class="icon-google-plus"></i></a></li>
    	<li><a href="#"><i class="icon-facebook"></i></a></li>
	</ul>
</div>
</nav>