<div class="row">
    <div class="col-sm-9">
        <div class="row" data-event="clickarea">
            <div class="col-sm-1 pointer" data-event="back-btn">
                <i class="fa fa-chevron-left fa-3x"></i>
            </div>
            <div class="col-sm-11 text-left">
                <h5 data-model="header">{{kicker}}</h5>
                <div data-region="headline">
                    <h3 data-model="headline" class="lead clear-marg">{{headline}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="inline">
        <input class="form-control inline-search" type="search">
        <div class="search-content">
            <i class="fa fa-search"></i>
        </div>
        </div>
    </div>
</div>
