
<div data-region="droppable" class="upload-box text-center" style="margin: 0 auto;">
    <h5 class="lead" id="file-drop">Drag<br>File<br>Here</h5>
</div>
<input class="ms" type="file" id="file-upload">
