@import '../bower_components/bootstrap3-less/variables.less';
@import '../bower_components/bootstrap3-less/mixins.less';
@import './variables.less';

input[type="submit"] {
  background: @red-dark;
}

input {
	&.inline-search {
		height: 14px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding: @padding-base-vertical @padding-base-horizontal;
		font-size: @font-size-base;
		line-height: @line-height-base;
		color: @input-color;
		padding-left: 24px;
	}
}

.login-form {
  padding : 20px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
  display:block;
  width: 100%;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-small;
  line-height: @line-height-base;
  vertical-align: middle;
  border: none;
  color: @white;
  &.light {
    color:@nav-black;
  }
  .placeholder();
}

.search-content{
	position: absolute;
	top: 4px;
	margin-left: 7px;
}

.search-tag {
	padding: 4px;
	border: 1px solid #ccc;
	margin: 0 2px;
	border-radius: 3px;
}

.vertical-border {
	position: fixed;
	display: inline-block;
	height: 85%;
	border-right: 1px solid rgba(255, 255, 255, 0.7);
	.box-shadow(0px 0px 4px rgba(255, 255, 255, 0.51));
}


.form-flat {

  .large {
    width: 60%;
    padding: 8px;
    line-height: 13px;
  }

  .dark {
    background: @brown;
    border: none;
    color: @white;
  }

  .footer {
    margin-top: 51px;
  }

  //padding: 20px;

  .row {
    margin: 10px 5px;
  }

  input, select, textarea {
    margin: 10px 0;
  }

  textarea {
    height: 110px;
    resize:none;
    &.short {height: 2.5em;}
  }

  input[type="text"], input[type="password"], input[type="email"] {
    height:  @input-height-small;
  }
  input[type="text"], input[type="password"], input[type="email"], textarea {
   font-size: @font-size-small;
   background-color: @light-brown;
  }

   // label {
   //   width:32%;
   //   float: left;
   //   margin-top: 10px;
   // }

   input[type="submit"] {
     float:left;
   }

   .tags-area {
     input{
      float: none;
      background-color: rgba(31, 30, 30, 0.81);
      width: 100%;
      height: 36px;
      box-shadow: inset 0px 0px 3px 0px #000;
    }
  }
}

ul.img-list {
  padding: 0;
  margin-bottom: 30px;
  li {
    display:inline-block;
    margin-bottom: 5px;
    box-shadow: 0 0 0 1px #666;
    cursor: pointer;
  }
}

input[type="radio"] {
 margin: 4px;
}

.btn-small {
  width:50px !important;
}
