input[type="submit"] {
  background: @red-dark;
}
input[type="text"] {
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
}

input {

	&.inline-search {
		height: 14px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		padding: @padding-base-vertical @padding-base-horizontal;
		font-size: @font-size-base;
		line-height: @line-height-base;
		color: @input-color;
		padding-left: 24px;
	}
}

.search-content{
	position: absolute;
	top: 4px;
	left: 24px;
}

.search-tag{
	padding: 4px;
	border: 1px solid #ccc;
	margin: 0 2px;
	border-radius: 3px;
}

.vertical-border {
	position: fixed;
	display: inline-block;
	height: 85%;
	border-right: 1px solid rgba(255, 255, 255, 0.7);
	.box-shadow(0px 0px 4px rgba(255, 255, 255, 0.51));
}


.form-flat {

  &.dark {
    input {
      background: @light-brown;
    }
  }

  padding: 20px;

  .row {
    margin: 0 5px;
  }

	input, select, textarea {
		margin: 10px 0;
	};

	input, textarea {
		display:block;
		width: 100%;
		padding: @padding-base-vertical @padding-base-horizontal;
		font-size: @font-size-small;
		line-height: @line-height-base;
		vertical-align: middle;
		border: none;
		color: @white;
    &.light {
      color:@nav-black;
    }
  		// Placeholder
  		//
  		// Placeholder text gets special styles because when browsers invalidate entire
  		// lines if it doesn't understand a selector/
  		.placeholder();
  	}

  	textarea { 
      height: 110px; 
      resize:none;
      &.short {height: 2.5em;}
    }

  	.footer {
  		margin-top: 15px;
  	}
  	.half {
  		input, textarea {
  			width:60%;
  			float: left;
  			display:inline-block;
  			height:  @input-height-small;
  			font-size: @font-size-small;
  			background-color: @light-brown;
  			margin-right: 8px;
  		}

  		label {
  			width:32%;
        float: left;
        margin-top: 10px;
      }

      input[type="submit"] {
       float:left;
     }

     .tags-area {
       input{
        float: none;background-color: rgba(31, 30, 30, 0.81);
        width: 100%;
        height: 36px;
        box-shadow: inset 0px 0px 3px 0px #000;
      }
    }
  }
}

input[type="radio"] {
 margin: 4px;
}

.btn-small {
  width:50px !important;
}