.profile-icon-lg {
	width:65px !important;
	height: 65px !important;
}
.logo-medium {
	width: 160px
}

.logo-small {
	width: 75px;
}

.img-small{
	width:40px;
}

.logo-xsmall {
	width: 28px;
	cursor: pointer;
}

.dna-img {
	width:75px;
	height:75px;
	opacity: 0.5;
	&:hover {
		opacity:1;
	}
}