#home { 
	background: url(/img/banners/banner1.jpg) 50% 0 repeat fixed;
	min-height: 1000px;
	height: 1000px; 
	margin: -10px auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
}
#about { 
	background: url(/img/crowd.JPG) 50% 0 no-repeat;
	min-height: 1000px; 
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px;
	position: relative; 
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8); 
	article{
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%;
	}
}

.fullscreen {
	position:relative;
	width:100%;

	#loginArea {
		height: 458px; 
		position: absolute; 
		text-align: center; 
		top: 150px; 
		width: 100%; 
	}

	.background-radient {
		background:rgba(0, 0, 0, 0.61);
		height: 140px;
		width: 240px;
		border-radius: 8px;
		text-align:center;
		display:inline-block;

		p {
			color:white;
			padding-top: 13px;
		}
		.btn {
			margin-top: 10px;
		}
	}
}