#main{
	padding-top:95px;
}

.focus-content{
	text-align:left;
	background: @brown;
	padding: 20px 24px;
}

#sr-stage-kicker {
	padding: 10px 0;
}

.stage-box {
	border: 1px solid;
	.box-shadow(0 0 1px #333);
	border-radius: 1px;
}

// TODO: change this to half-box!!
.stage-welcome {
	height: 429px;
	width: 48.8% !important;
	margin-right: 5px !important;

	&.right-large-focus {
		margin-left: -6px;
	}
}

.sr-stage-firstrow {
	.half-box {
		height: 434px;
	}
}
.half-box {
	height: 392px;
}

.half {
	width: 49.2%!important;
	margin-right: 1px!important;
}

.col-sm-6.stage-block{
	width:49%;
	margin: 1px 1px 1px 0.7px;
}

.stage-block {
	padding: 0px;
}

.col-sm-3.stage-block {
	width: 24.5%;
	margin: 2px 2px 1px 0;
}

iframe {
	width: 100%;
	margin-bottom: -3px;
}

[data-region="thumbails"] {
	text-align: center;
	margin:100px 100px;
}

footer {
	border-top: 1px solid;
	left: 0;
	right: 0;
	height: 300px;
	background: @nav-black;
	margin-top:10px;
}

.box-inner {
	padding: 10px!important;
}
#sr-stage-preview {
	position: absolute;
	right: -2000px;
	height: 100%;
	width: 50%;
	.preview-inner {
		width: 68%;
	}

	.focus-content {
		.usr-meta {
			margin-top:12px;
		}
	}

	.tabs-preview {
		padding: 12px;
		border-left: none;
		border-right: none;
	}
}

.comments-region {
	z-index: 1;
	position: relative;
}

.actions-row {
	color: @white;
	i {
		margin: 10px;
		margin-top: 20px;
		cursor: pointer;

		&:hover {
			// .scale(1.2, 1.2);
		}
	}
}

.meta-stretch {
	margin: 20px 10px;
}