#modal {
	position: absolute;
	top: 135px;
	z-index: 1000;
	text-align: center;
	width:100%;
}

// Box modal
.modal-flat {
	background: @brown;
	opacity: 1;
	width: 650px;
	display: inline-block;

	.tab-btn {
		float:left;
		width:50%;
		padding: 18px;
		margin-bottom: 30px;
		cursor: pointer;

		&.inactive {
			background: @brown-dark;

			&:hover {
				background: @light-brown;
			}
		}
	}

	&.short {
		width:300px;
	}

	.bordered-header{
		h4 {
			margin-bottom: 10px;
		}
		.bottom-brown-border();
		padding-bottom: 7px;
	}

	.upload-box {
		width: 200px;
		margin: auto;
		border: 2px dotted;
		border-radius: 13px;
		background: rgba(51, 51, 51, 0.43);
		margin-top: 118px;

		h5 {
			padding: 38px 0;
			margin: 0;
		}
		.highlight {
			border-radius: 13px;
			background: @light-brown;
		}
	}

	.style-tags {
		width: 100%;
		float: left;
		&.short {
			min-height: 40px;
		}

	}

	.modal-content {
		color: @white;
		.brown-border();
		&.with-pad {
			padding:20px 10px;
		}
	}

	.up-video {
		background-image: url('/img/outlets.png');
		background-position: initial initial;
		background-repeat: initial initial;
	}
}

.style-tags {
	margin: 5px 0;
	span { 
		margin:1px; 
		float:left;
			background: @red-dark;			
			padding: 2px 8px;
			strong{ color: @nav-black;}
			border: 1px solid @nav-black;
		}
	}