// Box modal
.modal-flat {

	header{
		h4 {
			margin-bottom: 10px;
		}
		.bottom-brown-border();
		padding-bottom: 7px;
	}

	.upload-box {
		width: 200px;
		margin: auto;
		border: 2px dotted;
		border-radius: 13px;
		background: rgba(51, 51, 51, 0.43);
		margin-top: 118px;

		h5 {
			padding: 38px 0;
			margin: 0;
		}
		.highlight {
			border-radius: 13px;
			background: @light-brown;
		}
	}

	opacity: 1;	

	width: 650px;

	display: inline-block;
	.style-tags {
		width: 100%;
		float: left;
		min-height: 40px;
		word-break: keep-all;
	}

	.modal-content {
		color: @white;
		.brown-border();
	}
	.up-video {
		background-image: url('/img/outlets.png');
		background-position: initial initial;
		background-repeat: initial initial;
	}
}

.style-tags {
	overflow-wrap: break-word;
	span { 
		white-space: pre;
		margin:1px; 
			// background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7B993C), to(#7B993C), color-stop(.2,#CDFF65),color-stop(.8,#CDFF65));
			background: @red-dark;			
			padding: 2px 8px;
			strong{ color: @nav-black;}
			border: 1px solid @nav-black;
		}
	}