@import '../bower_components/bootstrap3-less/variables.less';
@import '../bower_components/bootstrap3-less/mixins.less';
@import './variables.less';

nav {
	color: #fff;
	position: fixed;
	width:100%;
	height: @nav-height;
	background-color: @nav-black;
	z-index: 10000;
	.box-shadow( 0px 2px 8px 0px #0A0A0A);
	border-bottom: 1px solid rgba(255, 255, 255, 0.14);

	a {
		padding: 10px 15px;
		color: #fff;
		-webkit-transition: color 0.3s ease;
		-moz-transition: color 0.3s ease;
		-o-transition: color 0.3s ease;
		transition: color 0.3s ease;

		&:hover {
			text-decoration: none;
			color: @white;
		}
	}

	.nav-inner{
		padding:5px 20px;

		.nav-tabs{
			float:right;
			margin-top: 10px;
		}

		ul {
			list-style: none;
			li { float:left; }
		}
	}


	.nav-categories {
		position: relative;
		top: -42px;
		margin-left: 34%;

		li { &:hover { .scale(1.1); } }
		a{
			padding: 10px 34px;
			color: #fff;
			border: 1px solid rgba(255,255,255,.14);
			border-bottom: none;
			&.active{
				border-bottom: 1px solid @nav-black;
				padding: 11px 34px;
			}
		}
	}
}

.side-nav {
	position: absolute;
	height: 100%;
	background-color: @brown;
	border-right: 1px solid #414040;

	ul {
		color : @white;
		padding: 10px 3px;
		li {
			margin: 60px 0;
			text-align: center;
		}
	}
}
