@import './variables.less';
.two-columns-stats {
	color: @white;
	width:100%;
	td {
		width:50%;
		text-align: left;
	}
}

ul {
	&.nice-rows {
		padding: 0;
		height: 386px;
		overflow-y: scroll;
		li {
			.bottom-brown-border();
			padding: 15px 10px;
			.transition(background-color .3s ease);
			&:hover {
				background-color: @light-brown;
			}
		}
	}
}
