@import '../bower_components/bootstrap3-less/mixins.less';
img {
	&.tabs-img {
		opacity: 0.7;
	}
}
.note-decorator{
	display: inline-block;
	color: black;
	background: #fff;
	border: 1px solid @light-brown;
	position: absolute;
	right: 0;
	top: -29px;
	img {
		padding-left: 5px;
		padding-right: 5px;
	}
	ul {
		margin: 0;
		padding: 3px 11px;
		height: 25px;
	}
	li {
		padding: 0;
		&:hover {
			.scale(1.2, 1.2);
		}
		display: inline-block;
		cursor:pointer;
	}
	#bendBtn {
		width:30px;
	}

	.bendImg {
		width:30px;
		position:absolute;
	}

	.notes {
		width:20px;
		height:20px;
		cursor:pointer;
		opacity: 0.4;
		&.selected {
			opacity: 1;
		}
	}
}

.tabsArea {

	&:hover {
		background-color: rgba(255, 255, 255, 0.24);
	}

	.transition(background-color 0.2s ease);
	.tabs-row {
		margin: 19px 12px;
	}

	// background: rgba(0, 0, 0, 0.8);
	position:relative;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display:inline-block;

	#tab-input {
		position: absolute;
		display: inline-block;
		height: 100%;
		left: 0px;
		top: 0;
	}

	#tabs-cursor {
		position: absolute;
		top: 4px;
		width: 25px;
		padding: 0 0 0 4px;
		margin: 0;
		display: inline;
		background: transparent;
		border-color: transparent;
		border-left: 1px solid #fff;
		font-size: 10px;
		line-height: 10px;
		left: 11px;
		height: 18px;
		color: white;
	}

	label {
		position: absolute;
		text-shadow: 5px 5px 12px black;
		font-size: 12px;
		position: absolute;
		color: white;
		&:hover {
			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-o-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
	.tabs-row {
		margin: 20px 0;
	}
}
