body {
	background-image: url('/img/outlets.png');
	background-position: initial initial;
	background-repeat: initial initial;
	-webkit-font-smoothing: antialiased;
}

@brown-dark : #1F1E1E;
@brown : #333;
@white : #d1d1d1;
@light-brown : #4f4f4f;
.brown-border (){ box-shadow: 0 0 0 1px #666; }
@gray-text: #ccc;
@nav-black: #0E0E0E;
@red-dark:	#C44741;
@red-light:	#FF4644;
@yellow:	#FFFF6C;
@blue-dark:	#2286CC;
@blue-light: #4585B2;

.red-grad {
	background-image: -o-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
	background-image: -moz-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
	background-image: -webkit-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
	background-image: -ms-linear-gradient(bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
	background-image: linear-gradient(to bottom, #C97C65 0%, #C43741 50%, #C97C65 100%);
}

.bottom-brown-border (){border-bottom: 1px solid #666;}

.border-btm {
	.bottom-brown-border;
}
@nav-height: 86px;

/* Should be used to add standard margin over and below sections */
.section { margin: 20px 0;}
.section-sm { margin: 10px 0;}
.section-lg {margin: 2em 0;}
.section-vert {margin-left:5em; margin-right: 5em;}
.ms {margin:5px;}

.white { color: @white; }

.xsmall-gap {
	width:100%;
	height: 20px;
	clear: both;
}

.small-gap {
	width:100%;
	height: 50px;
}

.med-gap {
	width: 100%;
	height:100px;
}

.vert-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.vert-align-top {
	position: relative;
	top: 30%;
	transform: translateY(-30%);
	-webkit-transform: translateY(-30%);
}

.inline { display:inline-block;}
.pointer {cursor:pointer;}
.center-pos {
	text-align:center;
	margin:auto !important;
}

.right { float : right; }
.left { float : left; }
.text-left {text-align: left;}
.text-center {text-align: center;}

.clear-marg {margin:0 !important; padding:0 !important;}

.pull-down {
	position:relative;
	bottom:-40px;
}

.pull-right {
	right: 0px;
}

.pull-right-up {
	position: absolute;
	right: 24px;
	top: 20px;
}

.heading {
	margin-bottom:25px;
}

.banner {
	height:100%;
	background-color: rgba(0, 0, 0, 0.41);
	.box-shadow (0px -1px 7px  rgba(0, 0, 0, 0.89));
	&:hover {
		background-color:rgba(0, 0, 0, 0.1);
		.transition(background-color .3s ease-in-out);
	}
}

.drop-down {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.drop-down-prev {
	transform: translate3d(0, -400%, 0);
	-webkit-transform: translate3d(0, -400%, 0);
}
.drop-down-after {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

 .lighten {
    background-color:@light-brown;
    padding:10px;
  }

span.tags {
	margin:1px;
	float:left;
	background: @red-dark;
	padding: 2px 2px;
	strong{ color: @nav-black;}
	border: 1px solid @nav-black;
}
