<section id="sr-stage-kicker"></section>
<section>
	<div class="row">
		<div class="col-sm-9 stage-box clear-marg">
			<div id="player"></div>
		</div>
		<div class="col-sm-3"><p>hellu</p></div>
	</div>
</section>