<section id="sr-stage-kicker"></section>
<section "row">
		<div class="col-sm-9 clear-marg">
			<div class="stage-box" id="player"></div>
			<section data-section="shred-meta"></section>
		</div> <!-- /col-sm-9> -->

		<div class="col-sm-3 clear-marg" data-section="shreds-list"></div>


</section>