<section id="home" data-type="background" data-speed="4">
	<div class="fullscreen">
		<section id="loginArea"> 
			<div class="background-radient">
				<p class="lead">Login or sign-up</p>
				<button id="loginBtn" class="btn btn-lg">Login</button>
			</div>
		</section>
	</div>
</section>

<section id="about" data-type="background" data-speed="4">
	<article><h1>This Week's Top Shreds</h1></article>
</section>