<div class="fullscreen">
<img src="img/banners/banner1.jpg" id="landingPageImg" alt="">
    <section id="loginArea"> 
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="background-radient">
          <p class="lead">Login or sign-up</p>
          <button type="button" id="loginBtn" class="btn btn-success btn-lg">Login</button>
        </div>
      </div>
    </div>
  </section>
</div>