<div class="fullscreen">
<img src="img/banners/banner1.jpg" id="landingPageImg" alt="">
    <section id="loginArea"> 
      <div class="background-radient">
        <p class="lead">Sign-out</p>
        <a href="/logout" class="btn">Sign-out</a>
    </div>
  </section>
</div>