<section class="profile-region row comment">
	<div class="col-sm-2">
	<img class="profile-icon" src="img/profiles/{{user.profileImgFile}}">
	</div>
	<div class="col-sm-10">
		<p class="clear-marg"><strong>{{user.username}}</strong> <em class="font-xsmall right">{{createdAt}}</em></p>
		<small>{{body}}</small>
	</div>
</section>