<div class="col-sm-3">
	<div class="row" data-event="clickarea">
		<div class="col-sm-2 pointer" data-event="back-btn" style="display:none;">
		<i class="fa fa-chevron-left fa-3x"></i>
		</div>
		<div class="col-sm-10 text-left">
			<h5 data-model="header">Stage Kicker</h5>
			<h3 data-model="headline" class="lead clear-marg">Stage Headline Here</h3>
		</div>
	</div>
</div>

<div class="col-sm-6"></div>
<div class="col-sm-3">
	<input class="form-control inline-search" type="search">
</input>
<div class="search-content">
	<i class="fa fa-search"></i>
</div>
</div>


