<section id="sr-stage-kicker"></section>
<section id="sr-stage-preview"></section>

<section class="sr-stage-firstrow"><div class="row"></div></section>
<section class="sr-stage-secrow"><div class="row"></div></section>
<section class="sr-stage-thirdrow"><div class="row"></div></section>

<section class="sr-stage-fourthrow"><div class="row"></div></section>

<section class="sr-stage-fiftrow"><div class="row"></div></section>
<section class="sr-stage-sixtrow"><div class="row"></div></section>
<section class="sr-stage-seventhrow"><div class="row"></div></section>