<section class="tabsArea" data-region="tabs">
	<div class="tabs-row">
		<img src="img/tabs.png" width="100%" height="85px" class="tabs-img">
		<div data-model="tab-input" id="tab-input">
			<canvas id="bars" style="width:540;"></canvas>
		</div>
	</div>
</section>
