<h1>Welcome back, {{user.username}}
<a href="#shredroom"><small><br>Head over to the Shredroom</small></a>
</h1>

{{#if user.hasNotifications}}
<p><a href="#" data-event="notification" class="lead">{{user.notCount}} new notification</a></p>
{{/if}}

{{#if user._id}}
<a href="#shredders/{{user._id}}">Visit your profile</a>
{{/if}}