<h3 data-model="headline" class="lead clear-marg"><small>Opponent: </small>{{model.battlee.username}}
<span class="left-icon">
    <img class="profile-icon" src="{{model.battlee.profileImgFile}}"></span>
</h3>
</p>
