<div class="arrow_box right-side"></div>
<div class="content-wrap right-side">
	<div class="row">
		<header>
			<h2>Tracks</h2>
		</header>
		<ul>
			<li class="lead">C-minor Jam</li>
			<li class="lead">C-minor Jam</li>
			<li class="lead">C-minor Jam</li>
			<li class="lead">C-minor Jam</li>
			<li class="lead">C-minor Jam</li>
			<li class="lead">C-minor Jam</li>
			<li class="lead">C-minor Jam</li>
		</ul>
	</div>

	<div class="row">
		<h3><span><i class="fa fa-play-circle"></i></span> Play</h3>
		<h3><span><i class="fa fa-download"></i></span> Download</h3>
	</div>
</div>
