<section class="sr-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <button class="btn back-btn" data-event="back-btn">Back</button>
            </div>

            <div class="col-sm-8">
                <form class="form-flat text-center">
                    <h4>Search</h4>
                    <input type="search" class="dark large font-small" placeholder="Search for scales, chords, theory etc"></input>
                </form>
            </div>
            <div class="col-sm-3">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div><!-- /row -->

        <section data-region="theory-content">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row sr-box">
                        <div class="col-sm-4 ppl-listing">
                            <header><h5>Top Contributors</h5></header>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="profile-icon" src="img/profiles/1.jpg"></div>
                                    <div class="col-sm-8"><h6 class="font-small">Mikey Megakill</h6></div>
                                </div> <!-- /row -->
                                <div class="row">
                                    <div class="col-sm-4
                                    "><img class="profile-icon" src="img/profiles/2.jpg"></div>
                                    <div class="col-sm-8"><h6 class="font-small">James Hetfield</h6></div>
                                </div> <!-- /row -->
                                <div class="row">
                                    <div class="col-sm-4
                                    "><img class="profile-icon" src="img/profiles/3.jpg"></div>
                                    <div class="col-sm-8"><h6 class="font-small">Sondre Lerche</h6></div>
                                </div> <!-- /row -->
                                <div class="row">
                                    <div class="col-sm-4
                                    "><img class="profile-icon" src="img/profiles/4.jpg"></div>
                                    <div class="col-sm-8"><h6 class="font-small">Kim Kardash</h6></div>
                                </div> <!-- /row -->
                                <div class="row">
                                    <div class="col-sm-4
                                    "><img class="profile-icon" src="img/profiles/5.jpg"></div>
                                    <div class="col-sm-8"><h6 class="font-small">Yolo Swagmutch</h6></div>
                                </div> <!-- /row -->
                                <div class="row">
                                    <div class="col-sm-4
                                    "><img class="profile-icon" src="img/profiles/6.jpg"></div>
                                    <div class="col-sm-8"><h6 class="font-small">Sap dapper</h6></div>
                                </div> <!-- /row -->

                            </div> <!-- /col-sm-4 -->
                            <div class="col-sm-8">
                                <h5 class="lead">Help Us</h5>
                                <p>Help us build the wikipedia of music theory and techniques for the
                                    Shredr guitar community. We need your help to grow so this can be
                                    a great place for everyone to play, learn, share and enjoy the
                                    greatest thing on earth. Guitar playing.<p>

                                        <p>Help us build the wikipedia of music theory and techniques for the
                                            Shredr guitar community. We need your help to grow so this can be
                                            a great place for everyone to play, learn, share and enjoy the
                                            greatest thing on earth. Guitar playing.<p>

                                                <p>Help us build the wikipedia of music theory and techniques for the
                                                    Shredr guitar community. We need your help to grow so this can be
                                                    a great place for everyone to play, learn, share and enjoy the
                                                    greatest thing on earth. Guitar playing.<p>
                                                    </div><!-- /col-sm8 -->
                                                </div> <!-- /row sr-box-->

                                            </div> <!--col-sm-8 -->

                                            <div class="col-sm-4">
                                                <div class="row sr-box pointer" data-region="jamtrack" style="background-image:url(img/banners/jamtrack.jpg); background-size:cover;">
                                                    <div class="banner">
                                                    <header><h5 class="lead banner-txt">Jamtracks</h5></header>
                                                    <section>
                                                        <p class="banner-txt">Enter the Jamtracks corner to jam along with our large collection of backing tracks.</p>
                                                    </section>
                                                </div>
                                                </div>
                                                <div class="xsmall-gap"></div>
                                                <div class="row sr-box ppl-listing">
                                                    <header><h5>Latest updates</h5></header>
                                                    <div class="row">
                                                        <div class="col-sm-4
                                                        "><img class="profile-icon" src="img/profiles/1.jpg"></div>
                                                        <div class="col-sm-8"><h6>Mikey Megakill</h6><p class="under">Added a lol and lol</p></div>
                                                    </div> <!-- /row -->
                                                    <div class="row">
                                                        <div class="col-sm-4
                                                        "><img class="profile-icon" src="img/profiles/2.jpg"></div>
                                                        <div class="col-sm-8"><h6 class="font-small">James Hetfield</h6><p class="under">Added a lol and lol</p></div>
                                                    </div> <!-- /row -->
                                                    <div class="row">
                                                        <div class="col-sm-4
                                                        "><img class="profile-icon" src="img/profiles/3.jpg"></div>
                                                        <div class="col-sm-8"><h6 class="font-small">Sondre Lerche</h6><p class="under">Added a lol and lol</p></div>
                                                    </div> <!-- /row -->
                                                    <div class="row">
                                                        <div class="col-sm-4
                                                        "><img class="profile-icon" src="img/profiles/4.jpg"></div>
                                                        <div class="col-sm-8"><h6 class="font-small">Kim Kardash</h6><p class="under">Added a lol and lol</p></div>
                                                    </div> <!-- /row -->
                                                    <div class="row">
                                                        <div class="col-sm-4
                                                        "><img class="profile-icon" src="img/profiles/5.jpg"></div>
                                                        <div class="col-sm-8"><h6 class="font-small">Yolo Swagmutch</h6><p class="under">Added a lol and lol</p></div>
                                                    </div> <!-- /row -->
                                                </div> <!-- /row sr-box -->
                                            </div>

                                        </div> <!-- /row -->
                                    </section> <!-- /data-region="theory-content" -->
                                </div> <!-- /container -->
                            </section>

                            <section class="side-nav">
                                <ul class="nav" data-event="category-click">
                                    <li data-model="scales">
                                        <i class="fa fa-music"></i>
                                        <p class="small bold">Scales</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-archive"></i>
                                        <p class="small bold">Chords</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-book"></i>
                                        <p class="small bold">Theory</p>
                                    </li>
                                </ul>
                            </section>
