<div class="arrow_box"></div>
<div class="row">

<div class="input-wrap">
<input class="form-control inline-search" placeholder="Search Scale or Chord" type="search">
</input>
<div class="search-content">
	<i class="fa fa-search"></i>
</div>
</div>


	<div class="col-sm-6">
	</div>
	<div class="col-sm-6">
	</div>
</div>