<div class="arrow_box left-side"></div>
<div class="content-wrap left-side">
	<div class="row">
		<div class="col-sm-6">

			<div class="input-wrap">
				<input class="form-control inline-search" placeholder="Search Scale or Chord" type="search"></input>
				<div class="search-content">
					<i class="fa fa-search fa-2x"></i>
				</div>
			</div>

			<div class="med-gap"></div>
			<section class="resource-main">

				<div class="row">
					<h1>C-Minor Scale</h1>
				</div>
				<div class="small-gap"></div>

				<div class="tabsArea">
					<img src="img/tabs.png" class="tabs-img">

					<div id="tab-input">
						<canvas id="bars" style="width:540;"></canvas>
					</div>
				</div>

				<div class="med-gap"></div>

				<div class="row">
					<h3><span><i class="fa fa-play-circle"></i></span> Play</h3>
				</div>

				<div class="row">
					<div class="text-box">
						<p>Deep v umami gentrify, deserunt enim flexitarian sriracha laborum hella try-hard flannel qui Helvetica aute consequat. Truffaut letterpress 3 wolf moon ennui, forage sapiente Helvetica. Messenger bag quis Schlitz keytar, nisi trust fund vegan biodiesel. Letterpress 90's semiotics enim, fixie before they sold out sriracha irure American Apparel viral ennui Vice artisan fashion axe paleo.</p>
					</div>
				</div>

			</section>
		</div>
		<div class="col-sm-6">
			<div class="vertical-border"></div>

			<div class="row">
				<header>
					<h2>Scales</h2>
				</header>
				<ul>
					<li class="lead">C-minor Scale</li>
					<li class="lead">C-minor Scale</li>
					<li class="lead">C-minor Scale</li>
					<li class="lead">C-minor Scale</li>
					<li class="lead">C-minor Scale</li>
					<li class="lead">C-minor Scale</li>
					<li class="lead">C-minor Scale</li>
				</ul>

				<header>
					<h2>Chords</h2>
				</header>
				<ul>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
					<li class="lead">C-minor</li>
				</ul>
			</div>
		</div>
	</div>
</div>