<header><h4>{{model.title}}</c4></header>
<section data-region="tabs"></section>
<section><p class="small lead">{{model.description}}</p></section>
<div class="med-gap"></div>
<section>Related</section>
<div class="med-gap"></div>
<section>Examples</section>
<div class="med-gap"></div>
