<header><h4>C-minor Scale</c4></header>
<section>Tabs</section>
<section>If there are major scales there are also minor scales. The notes on a major scale sound bright and cheerful while notes on the minor scale sound solemn and sad. There are three types of minor scales:</section>
<div class="med-gap"></div>
<section>Related</section>
<div class="med-gap"></div>
<section>Examples</section>
<div class="med-gap"></div>
