<div class="sr-box clear-marg">
    <div class="row clear-marg">
        <div class="col-sm-6">
            <ul>
                <li><button class="btn">Add Scale</button></li>
                <li>
                    <h5 class="lead clear-marg">C-minor Scale</h5>
                    <p class="font-xsmall">3 positions - 120 examples</p>
                </li>
                <li>
                    <h5 class="lead clear-marg">C-minor Scale</h5>
                    <p class="font-xsmall">3 positions - 120 examples</p>
                </li>
                <li>
                    <h5 class="lead clear-marg">C-minor Scale</h5>
                    <p class="font-xsmall">3 positions - 120 examples</p>
                </li>
                <li>
                    <h5 class="lead clear-marg">C-minor Scale</h5>
                    <p class="font-xsmall">3 positions - 120 examples</p>
                </li>
                <li>
                    <h5 class="lead clear-marg">C-minor Scale</h5>
                    <p class="font-xsmall">3 positions - 120 examples</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 up-video">
            <header><h4>C-minor Scale</c4></header>
            <section>Tabs</section>
            <section>If there are major scales there are also minor scales. The notes on a major scale sound bright and cheerful while notes on the minor scale sound solemn and sad. There are three types of minor scales:</section>
            <div class="med-gap"></div>
            <section>Related</section>
            <div class="med-gap"></div>
            <section>Examples</section>
            <div class="med-gap"></div>
        </div>
    </div>
</div>



http://dribbble.com/shots/1246772-Learning-flow?list=show&tag=list
