<header><h4>Add new Scale</c4></header>

<form class="form-flat dark text-left">
  <label for="title"><small>Title</small></label>
  <input type="text" id="title" type="text" placeholder="Scale title">

  <label for="description"><small>Description</small></label>
  <textarea id="description" type="text">Text describing the scale</textarea>

  <label><small>Create tabs for the scale (required)</small></label>
  <div data-region="tabsArea"></div>

  <label><small>Example tabs are in the key of:</small></label>
  <input type="text" placeholder="Key">


  <div class="footer">
  <button data-event="done-btn" class="btn">Done</button>
  <a href="#" data-event="cancel-dna">Cancel</a>
  </div>
</form>
