<div class="fullscreenimg">
	<img src="/img/showroom.jpg">
</div>

<section id="buttons">
	<section class="sr-buttons" id="jamtracks">
		<h2>Jamtrack</h2>
		<span><i class="fa fa-headphones fa-3x"></i></span>
	</section>
	<section class="sr-buttons" id="upload">
		<h1>Upload</h1>
		<span><i class="fa fa-microphone fa-3x"></i></span>
	</section>
	<section class="sr-buttons" id="resources">
		<h2>Resources</h2>
		<span><i class="fa fa-music fa-3x"></i></span>
	</section>
</section>

<section id="upload-region" class="center-pos over-fs-1"></section>
<section id="preview-region" class="center-pos over-fs"></section>
<section id="backtrack-region" class="shredroom-region over-fs"></section>
<section id="resources-region" class="shredroom-region"></section>
<section id="tabs-region"></section>
