<div class="fullscreenimg">
	<img src="/img/showroom.jpg">
</div>

<section id="buttons">
	<div class="small-gap"></div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-4">
			<section class="sr-banner" id="upload" style="background-image:url(img/banners/mic.png); background-size:cover;">
				<div class="center-pos pointer banner">
					<h1 class="banner-txt">Upload</h1>
					<div class="xsmall-gap"></div>
					<span><i class="fa fa-microphone fa-3x"></i></span>

					<p class="lead banner-txt">Post a new Shredr video. Either it be a short lick, song cover, tutorial, or just a smooth improvisation</p>
				</div>
			</section>
		</div>
		<div class="col-sm-3"></div>
		<div class="col-sm-4">
			<section class="sr-banner pointer" id="resources" style="background-image:url(img/banners/theory.png); background-size:cover;">
				<div class="center-pos banner">
					<h1 class="banner-txt">Resources</h1>
					<div class="xsmall-gap"></div>
					<span><i class="fa fa-music fa-3x"></i></span>
					<p class="lead banner-txt">Need inspiration for your Shredr video's? Enter the Resources section. Play along with scales, jamtracks, and improve your musical skills.</p>
				</div>
			</section>
		</div>
	</div>
</section>

<section id="upload-region" class="center-pos over-fs-1"></section>
<section id="preview-region" class="center-pos over-fs"></section>
<section id="backtrack-region" class="shredroom-region over-fs"></section>
<section id="resources-region" class="shredroom-region"></section>
<section id="tabs-region"></section>
