<div class="arrow_box bottom-side"></div>
<div class="content-wrap bottom-side">
	<div class="row">
		<div class="col-sm-6">
			<header><h2>Create Tabs</h2></header>
		</div>

		<div class="col-sm-6">
			<p>things</p>
			<div class="note-decorator">
			<ul>
			<li><img src="img/notes/helnote.png" class="notes" id="semibreve"></li>
				<li><img src="img/notes/halvnote.png"class="notes" id="minim"></li>
				<li><img src="img/notes/firedels.png"class="notes selected" id="crotchet"></li>
				<li><img src="img/notes/attedels.png"class="notes" id="quaver"></li>
				<li><img src="img/notes/sekstendels.png"class="notes" id="semiquaver"></li>
				<li><img src="img/notes/tretitodels.png"class="notes" id="demisemiquaver"></li>
				<li><img src="img/notes/64dels.png"class="notes" id="hemidemisemiquaver"></li>
				<li class="icon-music icon-large"></li>=<span>120</span>
				<li><img src="img/notes/hvilepause.png"class="notes"></li>
			</ul>
			<ul>
				<li><img src="img/notes/arrow.png" id="bendBtn"></li>
				<li><p>P.M</p></li>
			</ul>
		</div>
		</div>
	</div>


	<section class="tabsArea">
		<img src="img/tabs.png" class="tabs-img">

		<div id="tab-input">
			<canvas id="bars" style="width:540;"></canvas>
		</div>
		<input type="text" id="tabs-cursor" autofocus maxlength="2"></input>
	</div>