<div class="container">
    <div class="row">
        <header class="text-center header">
            <div class="row">
            <div class="col-sm-11">
                <h3>Untitled Shredr Video</h3>
                <p class="lead">By: Yolo Swagtown</p>
            </div>
            <div class="col-sm-1">
                <button class="btn back-btn" data-event="save-tabs-btn">Save</button>
            </div>
        </header>

        <section data-region="leTabs" class="row center-pos sm-container"></section>
    </div>
</div>
