<div class="container">
    <div class="row">
        <header class="text-center header heading">
            <h3>Untitled Shredr Video</h3>
            <p class="lead">By: Yolo Swagtown</p>
        </header>

        <section data-region="leTabs" class="row center-pos sm-container"></section>
    </div>
</div>
