<section class="side-nav">
<ul>
  <li>
  <i class="fa fa-music fa-2x"></i>
  <p>Scales</p>
</li>
  <li>
    <i class="fa fa-archive fa-2x"></i>
  <p>Chords</p></li>
  <li>
    <i class="fa fa-book fa-2x"></i>
  <p>Theory</p>
</li>
  <li>
  <i class="fa fa-pencil fa-2x"></i>
  <p>Tutorials</p>
</li>
  <li>
    <i class="fa fa-headphones fa-2x"></i>
    <p>Techniques</p>
  </li>
</ul>
</section>
<section>Main</section>
