<div data-region="thumbview" style="display:none; height:100%;"><button class="btn small vert-align" data-event="showUpload">Upload<br>Video</button></div>
<div data-region="fullview">
	<section class="modal-content row">
		<form class="form-flat">
			<div class="col-sm-6 up-meta focus-content">
				<header class="bordered-header">
					<h4>Upload A New Shredr Video</h4>
					<label class="font-small">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="Lick"checked>Lick
					</label>
					<label class="font-small">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="Tutorial" >Tutorial
					</label>
					<label class="font-small">
						<input type="radio" name="optionsRadios" id="optionsRadios3" value="Jam">Jam
					</label>
					<label class="font-small">
						<input type="radio" name="optionsRadios" id="optionsRadios4" value="Cover">Cover
					</label>
					<label class="font-small">
						<input type="radio" name="optionsRadios" id="optionsRadios5" value="Gear-review">Gear-review
					</label>
					<label class="font-small">
						<input type="radio" name="optionsRadios" id="optionsRadios5" value="Gear-review">Other
					</label>

					<button class="btn pull-right-up" data-event="addTabs">Add Tabs!</button>
				</header>
				<!-- 			<form class="form-flat"> -->

				<div class="row">
					<div class="col-sm-8">
						<input type="text" placeholder="Title" id="shred-title">
					</div>
					<div class="col-sm-4">
						<label for="shred-title" class="font-small"><em>The title for this Shredr video</em></label>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-8">
						<textarea placeholder="Description" id="shred-description"></textarea>
					</div>
					<div class="col-sm-4">
						<label for="shred-description" class="font-small"><em>Add a little description or story, if you'd like, to this shred. What was the inspiration, what do you play etc.</em></label>
					</div>
				</div>

				<div class="row">
					<div class="tags-area col-sm-8">
						<div class="style-tags space" data-region="shred-tags"></div>
						<input type="text" placeholder="Tags" data-event="shred-tags-input">
					</div>
					<div class="col-sm-4">
						<label class="font-small"><em>Add tags for that describes the shred. For example C-minor scale, tapping, G-minor7 etc'.</em></label>
					</div>
				</div>

				<div class="row">
					<div class="tags-area col-sm-8">
						<div class="style-tags space" data-region="gear-tags"></div>
						<input type="text" placeholder="Equiptment" data-event="gear-tags-input">
					</div>
					<div class="col-sm-4">
						<label class="font-small"><em>Add tags for the equiptment you used. For instance 'Gibson Les Paul std 1960, or Marshall JCM-2000'.</em></label>
					</div>
				</div>

				<div class="row" data-region="jamtrack" style="display:none;">
					<div class="tags-area col-sm-8">
						<div class="style-tags space" data-region="jt-tags"></div>
						<input type="text" placeholder="Shredr jamtrack" data-event="jt-tags-input">
					</div>
					<div class="col-sm-4">
						<label class="font-small"><em>Link it to a Shredr jamtrack! If you have used one, of course.</em></label>
					</div>
				</div>


				<!-- 			</form> -->
			</div>

			<div class="col-sm-6 up-video dark-wrapper">
				<div class="row vert-align-top">
					<section data-region="upload"></section>
				</div>

				<div class="footer">
					<input type="submit" class="btn" value="Save">
					<a href="#" date-name="close-btn" style="padding-top:10px; float:left">Close</a>
				</div>

				<!-- 			<iframe id="receiver" height="150" frameborder="0" scrolling="no" src="webapp/youtube-direct-lite/static/index.html#playlist=PL2ZqlZMI8p2qFGfzdHs_PXBQ_LCmazTf0"></iframe> -->
			</div>
		</form>
	</section>
</div>
