<section class="modal-content row">
	<div class="col-lg-6 up-meta focus-content">
		<header class="bordered-header">
			<h4>Upload A New Shredr Video</h4>
			<label class="font-xsmall">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="Lick"checked>Lick
			</label>
			<label class="font-xsmall">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="Tutorial" >Tutorial
			</label>
			<label class="font-xsmall">
				<input type="radio" name="optionsRadios" id="optionsRadios3" value="Jam">Jam
			</label>
			<label class="font-xsmall">
				<input type="radio" name="optionsRadios" id="optionsRadios4" value="Cover">Cover
			</label>
			<label class="font-xsmall">
				<input type="radio" name="optionsRadios" id="optionsRadios5" value="Other">Other
			</label>

		</header>
		<form class="form-flat">
			
			<div class="half">
				<input type="text" placeholder="Title" id="shred-title">
				<label for="shred-title" class="font-xsmall"><em>The title for this Shredr video</em></label>
			</div>


			<div class="half">
				<textarea placeholder="Description" id="shred-description"></textarea>
				<label for="shred-description" class="font-xsmall"><em>Add a little description or story, if you'd like, to this shred. What was the inspiration, what do you play etc.</em></label>
			</div>


			<div class="half">
				<div class="tags-area">
					<div class="style-tags space">

					</div>
					<input type="text" placeholder="Equiptment" id="shred-tags">
				</div>
			</div>

			<div class="footer half">
				<input type="submit" class="center-pos" value="Save">
				<a href="#" date-name="close-btn" class="pull-right">Close</a>
			</div>
		</form>
	</div>
	<div class="col-lg-6 up-video">

	<div class="upload-box vert-align">
		<h5 class="lead" id="file-drop">Drag<br>File<br>Here</h5>
	</div>

		<iframe id="receiver" height="150" frameborder="0" scrolling="no" src="webapp/youtube-direct-lite/static/index.html#playlist=PL2ZqlZMI8p2qFGfzdHs_PXBQ_LCmazTf0"></iframe>

	</div>

</section>





<!-- <header>
	<h3>Upload Shred</h3>
</header>

<form class="form-flat">
	<input type="text" id="shred-title" placeholder="Title">
	<textarea placeholder="Description" id="shred-description"></textarea>
	<input type="text" placeholder="Tags" id="shred-tags">
	<label for="category">Category</label>
	<select id="category">
		<option>Tutorial</option>
		<option>Lick</option>
		<option>Jamtrack Shred</option>
		<option>Technique</option>
		<option>Coversong</option>
	</select>

	<iframe id="receiver" height="150" frameborder="0" scrolling="no" src="webapp/youtube-direct-lite/static/index.html#playlist=PL2ZqlZMI8p2qFGfzdHs_PXBQ_LCmazTf0"></iframe>

  	<input type="submit" class="center-pos" value="Upload">
<form>

<a href="#" date-name="close-btn" class="pull-down pull-right">Close</a> -->