<header>
	<h3>Upload Shred</h3>
</header>

<form class="form-flat">
	<input type="text" id="shred-title" placeholder="Title">
	<textarea placeholder="Description" id="shred-description"></textarea>
	<input type="text" placeholder="Tags" id="shred-tags">
	<label for="category">Category</label>
	<select id="category">
		<option>Tutorial</option>
		<option>Lick</option>
		<option>Jamtrack Shred</option>
		<option>Technique</option>
		<option>Coversong</option>
	</select>

	<iframe id="receiver" height="150" frameborder="0" scrolling="no" src="webapp/youtube-direct-lite/static/index.html#playlist=PL2ZqlZMI8p2qFGfzdHs_PXBQ_LCmazTf0"></iframe>

  	<input type="submit" class="center-pos" value="Upload">
<form>

<a href="#" date-name="close-btn" class="pull-down pull-right">Close</a>